/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/******************************************
   /* BASE STYLES
   /*******************************************/
html {
    scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100%;
  background-color: #240C0C;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #140000;
    filter: drop-shadow(1px 3px 8px #000);
    height: 3rem;
    position: fixed;
    top: 0;
    width: 100vw;
}

h1{
    margin: .2rem;
    font-size: 1.5rem;
    padding-left: 1rem;
}

h2 {
    writing-mode: tb-rl;
    text-orientation: upright;
    font-size: 2rem;
    letter-spacing: 20px;
    padding: 0 2rem;
    
}
.welcome, .work{
  display: flex;
  width: 100%;
  align-items: center;
}
/* Welcome Section */

.welcome, .work, .about, .contact{
  margin-top:10rem;
}

.welcome-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 0 4rem;
    text-align: center;
}

.welcome-subsection a {
    background-color: white;
    color: #240C0C;
    display: flex;
    justify-content: center;
    padding: .5rem 3.5rem;
    width: 4.5rem;
    margin: .7rem auto;
}

.welcome-subsection a:hover{
    background-color: gray;
}

.welcome-subsection img {
    filter:invert(1);
    padding-bottom: 1.5rem;
    max-width: 250px;
    width: 100%;
}

ul {
display: flex;
justify-content: space-between;
align-items: center;
margin: .2rem;
  list-style-type: none;
  text-decoration: none;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  margin: .2rem;
  color: white;
}

img {
  max-width: 100%;
}

/* Mosaic section */

.work{
  display: flex;
}

.work h2 {
  position:sticky;
  top: 6rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height:100vh; */
  justify-items: center;
  grid-gap:1rem;
  /* grid-row-gap: 1.2rem */
  padding-right:1rem;
}

.grid-item{
  position: relative;
  text-align: center;
  opacity:1;
}

.grid-item > span {
  position: absolute;
  font-size: small;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:none;
}

.grid-item:hover > span {
  opacity: 1;
  display: inline;
}

.grid-item:hover > img {
  opacity: .5;
}

.grid-item-large {
  grid-row: span 2;
}


/* Media queries */
@media screen and (min-width: 674px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}