/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/******************************************
   /* BASE STYLES
   /*******************************************/
html {
    scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100%;
  background-color: #240C0C;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #140000;
    filter: drop-shadow(1px 3px 8px #000);
    height: 3rem;
    position: fixed;
    top: 0;
    width: 100vw;
}

h1{
    margin: .2rem;
    font-size: 1.5rem;
    padding-left: 1rem;
}

h2 {
    writing-mode: tb-rl;
    text-orientation: upright;
    font-size: 2rem;
    padding-left: 4rem;
    letter-spacing: 20px;
    
}
.welcome, .work{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
}
/* Welcome Section */

.welcome-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 0 4rem;
    text-align: center;
}

.welcome-subsection a {
    background-color: white;
    color: #240C0C;
    display: flex;
    justify-content: center;
    padding: .5rem 3.5rem;
    width: 4.5rem;
    margin: .7rem auto;
}

.welcome-subsection a:hover{
    background-color: gray;
}

.welcome-subsection img {
    filter:invert(1);
    padding-bottom: 1.5rem;
    max-width: 250px;
    width: 100%;
}

ul {
display: flex;
justify-content: space-between;
align-items: center;
margin: .2rem;
  list-style-type: none;
  text-decoration: none;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  margin: .2rem;
  color: white;
}

img {
  max-width: 100%;
}

/* Mosaic section */

.work{
  display: flex;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height:100vh; */
  justify-items: center;
  grid-column-gap:1.2rem;
}

.grid-item {
  height: 2rem;
}

.grid-item span {
  font-size: xx-small;
}